body{
    font-family: 'Square721 BT', sans-serif;
    /*transition: all 1s ease;*/
    margin: 0;
    height: auto;
}
/*
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    color:#fff;
    z-index: 1000;
}

.loader-content{
    color: #fff;
    text-align: center;
}

.element{
    color: #fff;
}
*/
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

/*.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.5s ease-out; 
            transition: all 0.5s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.5s 0.5s ease-out; 
            transition: all 0.5s 0.5s ease-out;
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.5s 0.8s ease-out; 
                transition: all 0.5s 0.8s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}
*/
/*loader ends*/

/*landing css starts*/

section{
    /*height: 100vh;*/

}

.active{
    color: #fff;
}

.color{
    color: #fff;
}


.landing{
    padding: 7% 10% 10% 10%;
}

.card>*{
  box-sizing: border-box;
}

.card{
    box-shadow: 0 10px 45px rgba(0,0,0,0.30), 0 15px 15px rgba(0,0,0,0.22);
    max-width: 800px;
    margin: auto; 
    position: relative;
}

.transparent_image{
    background-image: url(images/pranav_dp.png);
    background-attachment: fixed;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 40;
    left: -150;
    z-index: 9;
    filter: blur(1.5px);
    opacity: 0.4;
    transform: scale(2);
}



.black_container{
    position: absolute;
    overflow: hidden;
    height:100%;
    width: 40%;
    background: #272727;
    padding: 3%;
    font-family: 'Orbitron', sans-serif;
    font-stretch: ultra-expanded;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 6px 0 10px -3px #727272;
}
.card_content{
    margin-top: 30px;
    text-transform: uppercase;
    font-family: 'Square721 BT',sans-serif;
    /* letter-spacing: 2px; */
}


.card_content>p{
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #a5a5a5;
    -webkit-text-stroke: 0.2px #a5a5a5;
    line-height: 15px;
}

.card_content>p>span{
    font-weight: 700;
    font-size: 12px;
    color: #555;
    -webkit-text-stroke: 0;
    letter-spacing: 1.5;
}

.hello{
    text-transform: uppercase;
    font-weight: 600 !important;
    letter-spacing: 8px !important;
    -webkit-text-stroke: 0 !important;
    font-size: 1.2em !important;
    margin-bottom: 22px;
}


.content_container{
    padding: 3% 4% 1% 6%;
    width:60%;
    left:40%;
    font-family: 'Orbitron', sans-serif;
    position: relative;
}

.circular{
    width: 150px;
    position: relative;
    height: 150px;
    margin: 0 auto;
    border-radius: 100px;
    border: 13px solid #6e6e6e;
    background: url('images/pranav_dp.png') no-repeat;  
    background-position:50% 50%;
    background-size: 170px 170px;
    box-shadow:0 5px 30px rgba(0,0,0,0.30), 0 0px 15px rgba(0,0,0,0.18);
    z-index: 99;

}

.small_bar{
    padding: 3;
    position: relative;
    width: 30px;
    margin: 0 auto;
    z-index: 99;
    background: #e4e4e4;
    margin-top: 35px;
}

.name{
    position: relative;
    color:#fff;
    font-size: 14px;
    z-index: 99;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin:30px auto 5px auto;
    text-align: center;
    font-weight: 400;
}

.designation{
    font-size: 10px;
    margin: 0 auto;
    z-index: 99;
    letter-spacing: 6;
}

.qrcode_container{
    float: right;
}

.qr_container{
    overflow: auto;
    width: 100%;
}

.qr_text{
    display: inline-block;
    position: relative;
    list-style-type: none;
    top: 2px;
    line-height: 1.5;
    text-align: right;
}

.qr_text>li{
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: #a5a5a5;
}


.bars{
    display: inline-block;
    position: relative;
    top: 16px;
}

.bars .small_bar{
    width: 15px;
    background: #777;
    padding: 2px;
}

.bar_upper{
    position: absolute;
    top: -88px;
}

.qr_code{
    display: inline-block;
    height: inherit;
    position: relative;
    top: -25px;
    margin-left: 10px;
}

.qr_code>img{
    height: 105px;
}



.resume_button{
    width: 175px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #272727;
    font-family: 'Orbitron';
    padding: 10px 15px;
    margin-top: 35px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.60);
}

.resume_button:hover{
    cursor: pointer;
    position: relative;
    /*transition: all 0.1s ease;*/
    box-shadow: 4px 4px 10px rgba(0,0,0,0.60);
    top:-1px;
}

.card_footer>p{
    letter-spacing: 2.5px;
    font-weight: 600;
    margin: 0;
    margin-top: 35px;
    color: #b5b5b5;
    font-size: 0.65em;
    text-transform: uppercase;
}

/*landing css ends*/



/*portfolio css*/

.more>a{
    color: #727272;
}

.more>a:hover{
    color:#e4e4e4;
}

.port_card_container{
    overflow-y: auto;
}

.port_links{
    list-style-type: none;
    text-align: center;
    margin: 3em 0 1em 0;
}

.port_links>li{
    display: inline-block;
    margin: 0 2em;
}

.port_links>li>a{
    font-size: 1.3em;
    color: #999 ;
}

.port_links>li>a:hover{
    color: #e4e4e4;
}

.portfolio{
    background: #f9f9f9;
    /*height: 100vh;*/
}

.portfolio_container{
    background: #333;
    padding: 5%;
}

.heading{
    text-align: center;
    color: #727272;
}

.heading>.heading_big {
    font-size: 1.6em;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0 0 10;
    -webkit-text-stroke: 0.7px #727272;
}

.more{
    width: 100%;
    text-align: center;
    margin: 2em 0 0 0;
}

/*portfolio css*/


/*about me css*/

.about{
    padding: 6% 0;
}

.connect{
    margin-left: 7.5%;
}
.about_me{
    text-align: right;
    margin-right: 7.5%;
}
h2{
    text-transform: uppercase;    
    font-weight: 400;
    letter-spacing: 10px;
    -webkit-text-stroke: 1px #333;
}

.icon_container>p{
    text-align: center;
}

.icon_circular{
    margin: 0 auto;
    border-radius: 100px;
    height: 140px;
    width: 140px;
    border: 4px solid #333;
}

.icon_circular>img{
 position: absolute;
 top: 38%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.icon_row{
    margin-top: 5%; 
}

.typed-cursor{
    display: none;
}

/*about me css*/

/*contact css*/

.contact{
    background: #333 no-repeat center 100%;
    height: 100vh;
    color:#727272;
    padding: 3%;
    color: #a2a2a2;
    background-image: url("../portfolio/images/map.png");
    background-position: top 200px center;
    /*background-size: contain;*/
}

.contact>div>.heading>h2{
    -webkit-text-stroke: 1px #727272;
    letter-spacing: 12px;

}

.icon_container>i:hover{
    color: #727272;
    cursor: pointer;
}
/*contact css*/


footer{
    padding: 1%;
    text-align: center;
}





/*navigation css*/
.toggle{
    opacity: 0;
    position: relative;
}

.nav{
    font-family: 'Orbitron',sans-serif;
    color: #727272;
}

.nav a{
    color: #727272;
}

 .nav, .nav>p{
    position: fixed;
}

.nav_wrapper{
    display: table-cell;
    vertical-align: middle;    
}

.nav_container{
    display: table;
    height: 100%;
    width: 5%;
    right: 0px;
}

.right_nav{
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    right: 0;
}

.right_nav>a>span{
    position: relative;
    opacity: 0;
}


.right_nav>a{
    list-style-type: none;
    display: block;
    margin-bottom: 40px;
}

.right_nav>a:hover,.right_nav>a:focus{
    text-shadow: 0px 0px 2px #969696;
    cursor: pointer;
    text-decoration: none;
}


.right_nav:hover
.{
    
}


.left_nav{
    height: 100vh;
    left: -5px;
}

.left_nav .nav_upper:hover, .left_nav .nav_lower:hover{
    text-shadow: 0px 0px 2px #969696;
    cursor: pointer;
}

.left_nav .nav_upper{
    top: 55px;
    -webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg); /* Standard syntax */
}

.nav_upper>img{
 -webkit-transform: rotateZ(90deg); /* Safari */
 transform: rotateZ(90deg); /* Standard syntax */
 margin-right:25px;
}

.nav_lower>img{
 -webkit-transform: rotateZ(180deg); /* Safari */
 transform: rotateZ(270deg); /* Standard syntax */
 margin-left:25px;
}

.left_nav .nav_lower{
    bottom: 50px;
    -webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg); /* Standard syntax */
    
}

.arrow_fix1{
    position: absolute;
    top:-7px;
    left: -30px;
}

.arrow_fix2{
    position: absolute;
    top:-7px;
    left: 40px;
}

/*navigation css*/

/*typed js starts*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*typed js ends*/




/*hover roxy*/
figure.effect-roxy img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
    /*grayscale*/
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

figure.effect-roxy figcaption::before {
    position: absolute;
    top: 30px;
    right: 100px;
    bottom: 100px;
    left: 30px;
    /*-webkit-text-stroke: 1px #333;    */
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);
}

figure.effect-roxy figcaption {
    padding: 3em;
    /*-webkit-text-stroke: 1px #333;*/
    text-align: center;
}

figure.effect-roxy h4 {
 padding: 15%; 
 background: rgba(255,255,255,0.5);
}

figure.effect-roxy p {
    opacity: 0;
    background: #fff;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}

figure.effect-roxy:hover img {
    /*opacity: 0.7;*/
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    filter: none;
    -webkit-filter: grayscale(0%);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
    opacity: 1;
    /*-webkit-text-stroke: 1px #333;*/

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    color: #333;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 120px;
    max-width: 300px;
    max-height: 180px;
    width: 48%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #333;
    text-transform: uppercase;

    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h4 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h4 span {
    font-weight: 800;
}

.grid figure h4,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 45%;
}

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

/*hover roxy*/
























/*material modal*/

/**
 * Material Modal CSS
 */
 .modal {
    will-change: visibility, opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: $modal-delay;
}

.modal--active {
    visibility: visible;
    opacity: 1;
}

.modal--align-top {
    align-items: flex-start;
}

.modal__bg {
    background: transparent;
}

.modal__dialog {
    max-width: 600px;
    padding: 1.2rem;
}

.modal__content {
    will-change: transform, opacity;
    position: relative;
    padding: 2.4rem;
    background: #ffebee;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content--active {
    opacity: 1;
}

.modal__close {
    z-index: 1100;
    cursor: pointer;
}

.modal__trigger {
    position: relative;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    color: rgba(0,0,0,0.7);
    line-height: 1;
    cursor: pointer;
    background: #ffebee;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger--active {
    z-index: 10;
}

.modal__trigger:hover {
    background: #e5d3d6;
}

#modal__temp {
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffebee;
    transform: none;
    opacity: 1;
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/**
 * Demo specific CSS
 */

 .demo-btns header {
    padding: 7vh 10vw;
    background: #ffebee;
    display: flex;
    align-items: center;
}

.demo-btns header h1 {
    margin: 0;
    color: rgba(0,0,0,0.54);
    font-weight: 300;
}

.demo-btns .info {
    background: #f44336;
    padding: 3vh 10vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.demo-btns p {
    text-align: center;
    color: #fff;
}

.demo-btns .link {
    font-size: 20px;
}

.demo-btns .modal__trigger {
    margin-right: 3px;
}

@media (max-width: 640px) {
    .demo-btns .modal__trigger {
        margin-bottom: 0.8rem;
    }
}

.demo-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    padding: 0.6rem;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close svg {
    width: 24px;
    fill: #fff;
    pointer-events: none;
    vertical-align: top;
}

.demo-close:hover {
    background: rgba(0,0,0,0.6);
}

.logo {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    z-index: 2;
}

.logo img {
    width: 45px;
    transform: rotate(0);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.logo img:hover {
    transform: rotate(180deg) scale(1.1);
}

@media only screen and (max-device-width:480px){
    .black_container{
        width: 100%;
        height: 45%;
        position: relative;
        padding-top:6%; 
    }

    .qr_container{
        display: none;
    }

    .content_container{
        width: 100%;
        left: 0;
        text-align: center;
    }

    .resume_button{
        margin: 0 auto;
    }

    .nav{
        display: none;
    }

    .about_me{
        text-align: center;
        margin: 0 0 30px;
    }

    .connect{
        margin: 0;
    }

    .contact{
        background-position: right 160px;
    }

    .about{
        text-align: center;
    }

    .icon_container{
        text-align: center;
    }

    .card{
        box-shadow: 0 5px 25px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.22)
    }

    .landing{
        padding: 5%;
    }

    .small_bar{
        margin-top: 15px;
    }

    .name{
        margin-top: 15px !important;
    }

    .designation{
        margin-top: 5px !important;
    }

    .port_links>li{
        margin:0 1em;
    }

    .port_links{
        padding: 0;
        margin: 0 auto;
    }

    .portfolio_container{
        padding: 10% 0;
    }

    .grid{
        padding: 1em 0 0;
    }

    .about{
        padding: 5% 15%;
    }

    .heading_big, .connect>h2, .about_me>h2{
        font-size: 1.2em;
        letter-spacing: 7px;
    }
}
/**




